/build/
/.pc/
/obj-*/
__pycache__/
*.pyc
*.pyo
*.mo
*.deb
*.dsc
*.changes
*.build
*.buildinfo
*.tar.*
*.udeb
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper
debian/*.log
debian/minios-thunar-integration/
debian/tmp/
